.App{
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fruit{
  height: 40vh;
  width: auto;
  margin: 40 auto 20;
  justify-content: center;
}

.btn{
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.result{
  height: 50vh;
  margin-top: 20px;
}